<!-- frontend/views/resultadosDiagnostico.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Diagnóstico</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de que la ruta CSS sea correcta -->
</head>
<body>
    <div class="container">
        <h2>Resultados del Diagnóstico</h2>
        <p id="resultado"><%= resultado %></p> <!-- Mostrar el resultado del diagnóstico aquí -->
        <a href="/" class="button">Regresar al Inicio</a>
    </div>
</body>
</html>
